.ExperienceItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
}

@media (min-width: 940px) {  
  .ExperienceItem {
    flex-direction: row;
  }

  .ExperienceItem-dateRange {
    width: 30%;
  }
  
  .ExperienceItem-details {
    width: 70%;
  }
}

.ExperienceItem-title {  font-weight: bold; }
.ExperienceItem-company { opacity: 0.7; }
.ExperienceItem-description { }
.ExperienceItem-skills { }
