.ExperienceItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1em;
}

.ExperienceItem-dateRange { 
  font-weight: 500; 
}
.ExperienceItem-title {  font-weight: 700; }
.ExperienceItem-company { opacity: 0.7; }
.ExperienceItem-description { }
.ExperienceItem-skills { font-weight: 500 }

@media (min-width: 1024px) {  
  .ExperienceItem { flex-direction: row; }
  .ExperienceItem-dateRange { width: 30%; }
  .ExperienceItem-details { width: 70%; }
}
