.SkillsBadge {
  background-color: black;
  border-radius: 0.3em;
  color: white;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.2em 0.3em;
  opacity: 0.8;
  padding: 0.3em 0.5em;
  text-align: center;
}
