.SidebarMenu {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 5rem 0;
  letter-spacing: .1rem;
  text-align: right;
  text-transform: uppercase;
}

.SidebarMenu-item {
  list-style: none;
}

@media (max-width: 768px) {
  .SidebarMenu { 
    display: 
    none
  }
}
