.SidebarMenu {
}

.SidebarMenu-item {
  font-size: 0.9rem;
  font-weight: 600;
  list-style: none;
  letter-spacing: .1rem;
  text-align: right;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .SidebarMenu { 
    display: none;
  }
}
