.Sidebar-name {
  font-size: 2.5rem;
  font-weight: bold;
}
.Sidebar-title {
  font-size: 1.3em;
}

@media (min-width: 769px) {
  .Sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  } 
}

@media (max-width: 769px) {
  .Sidebar {

  }
}
