.Portfolio {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Portfolio > * { 
  flex: 1 1 auto;
  padding: 2em; 
}

@media (min-width: 769) {
  .Portfolio h4 {
    display: none;
  }
  .Portfolio-sidebar {
    padding: 6em;  
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .Portfolio-container {
    padding-right: 6em;
    padding-top: 6em;
  }
  .Portfolio-container > * {
    margin-bottom: 6em;
  }
}

@media (max-width: 1024px) {
  .Portfolio > * { 
    flex: 1 1 auto;
    padding: 2em; 
  }
}

@media (max-width: 768px) {
  .Portfolio {
    flex-direction: column;
  }
  .Portfolio h4 {
    display: block;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}
