.Portfolio {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-wrap: balance;
}
.Portfolio-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 5rem;
  position:relative;
}
.Portfolio-sidebar-name {
  flex: 1 1 0;
  font-size: 2.5rem;
  font-weight: 800;
  padding-top: 5rem
}
.Portfolio-sidebar-name-title {
  font-size: 1.1rem;
  font-weight: 600;
}
.Portfolio-main { 
  padding: 2rem 4rem 2rem 0;
}

/* small screens */
@media (max-width: 768px) {
  .Portfolio { 
    flex-direction: column; 
  }
  .Portfolio-sidebar {
    height: auto;
    padding: 2rem;
  }
  .Portfolio-main { 
    padding: 2rem;
  }
  .Portfolio h2 {
    display: block;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

/* laptop / desktop */
@media (min-width: 769px) {
  .Portfolio { 
    gap: 5rem;
  }
  .Portfolio h2 { display: none; }
  .Portfolio-sidebar { 
    flex: 1 1 0;
    gap: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .Portfolio-main { 
    flex: 2 1 0;
    padding-right: 5rem; 
  }
}
