.Portfolio {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-wrap: balance;
}
.Portfolio-sidebar {
  padding: 5rem 0 0 5rem;
}
.Portfolio-sidebar-name {
  font-size: 2.5rem;
  font-weight: 800;
}
.Portfolio-sidebar-title {
  font-size: 1.1rem;
}
.Portfolio-main { 
  padding: 2rem 4rem 0 0;
}

/* small screens */
@media (max-width: 768px) {
  .Portfolio { 
    flex-direction: column; 
  }
  .Portfolio-sidebar {
    padding: 2rem;
  }
  .Portfolio-main { 
    padding: 2rem;
  }
  .Portfolio h2 {
    display: block;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

/* laptop / desktop */
@media (min-width: 769px) {
  .Portfolio { 
    gap: 5rem;
  }
  .Portfolio h2 { display: none; }
  .Portfolio-sidebar { 
    flex: 1 1 0;
    gap: 2rem;
    min-height: 35vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .Portfolio-main { 
    flex: 2 1 0; 
  }
}
