.SidebarMenu ul li {
  font-weight: 600;
  list-style: none;
  letter-spacing: .2rem;
  text-align: right;
  text-transform: uppercase;
}
.SidebarMenu ul li a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 769px) {
  .SidebarMenu {
    position: absolute;
    bottom: 0; 
    right: 0;
  }
}

@media (max-width: 768px) {
  .SidebarMenu { 
    display: none;
  }
}
