.SidebarMenu {
  flex: 2 1 0;
}

.SidebarMenu ul li {
  font-weight: 600;
  list-style: none;
  letter-spacing: .2rem;
  opacity: 0.5;
  text-align: right;
  text-transform: uppercase;
}
.SidebarMenu ul li a {
  color: inherit;
  text-decoration: none;
}
.SidebarMenu ul li.active {
  opacity: 1;
  font-size: 1.1em;
}

/* @media (min-width: 769px) {
  .SidebarMenu {
  }
} */

@media (max-width: 768px) {
  .SidebarMenu { 
    display: none;
  }
}
