.Portfolio {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
}

.Portfolio .Portfolio-column {
  flex: 1 1 0;
  padding: 5rem 0;
}

.Portfolio .Portfolio-sidebar {
  position: sticky;
  top: 0;
}

.Portfolio .Portfolio-main {
}
